@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,400;1,700&display=swap');

@font-face {
  font-family: MuliLight;
  src: url('./Muli-Light.ttf');
}

@font-face {
  font-family: MuliRegular;
  src: url('./Muli.ttf');
}

@font-face {
  font-family: MuliSemiBold;
  src: url('./Muli-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: MuliBold;
  src: url('./Muli-Bold.ttf');
}

@font-face {
  font-family: MuliBlack;
  src: url('./Muli\ Black.ttf');
}