@import './variables';

$active-background: darken($btn-bg, 10%);
$active-border: darken($btn-border, 12%);

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  // font-size: 16px;

  .rbc-filtering {
    display: flex;
  }

  .rbc-labelncontrol {
    display: flex;
    align-items: center;
  }

  .rbc-toolbar-label {
    flex-grow:1;
    padding: 0 10px;
    // font-size: 16px;
    font-weight: 600;
    text-align: center;
  }

  & .group-select-wrapper {
    display: flex;
    // font-size: 14px;
    background: #FFFFFF;
    border: 0.5px solid #CCD5E1;
    border-radius: 4px;
    align-items: center;
    min-width: 20rem;
    justify-content: center;
    margin-right: 2rem;

    & .group-select-title {
      color: #5A687A;
      background: #F9F9FF;
      box-sizing: border-box;
      border-radius: 4px 0 0 4px;
      padding: 1rem;
      text-align: center;
      border-right: 0.5px solid #CCD5E1;
      flex: 1 0 auto;
      height: 100%;
      display: flex;
      align-items: center;
    }

    & .group-select {
      border: unset;
      width: 70%;
      appearance: none;
      // webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      // background-image: url(${assetBaseUrl}icon-dropdown_b5vxpw.svg');
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: center;
      margin-right: 0.8rem;
      padding: 1rem;
      margin-left: 0.5rem;
    }
  }

  & button {
    color: $btn-color;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border: 1px solid $btn-border;
    padding: .375rem 1rem;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap;

    &:active,
    &.rbc-active {
      background-image: none;
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
      background-color: $active-background;
      border-color: $active-border;
      // padding: 1rem;
      // background: #EAF1FE;
      // border-right: 0.5px solid #CCD5E1;
      // width: 8rem;
      // text-align: center;

      &:hover,
      &:focus {
        color: $btn-color;
        background-color: darken($btn-bg, 17%);
        border-color: darken($btn-border, 25%);
      }
    }

    &:focus {
      color: $btn-color;
      background-color: $active-background;
      border-color: $active-border;
    }

    &:hover {
      color: $btn-color;
      background-color: $active-background;
          border-color: $active-border;
    }
  }
}

.rbc-btn-group {
  // display: inline-block;
  // white-space: nowrap;
  display: flex;
  border: 0.5px solid #CCD5E1;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  & .rbc-btn-item {
    padding: 1rem;
    border-right: 0.5px solid #CCD5E1;
    min-width: 8rem;
    text-align: center;
  }

  & .rbc-btn-active {
    background: #EAF1FE;
  }

  & .rbc-btn-item:last-child:not(:first-child) {
    border-right: unset;
  }

  > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rbc-rtl & > button:first-child:not(:last-child) {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rbc-rtl & > button:last-child:not(:first-child) {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  button + button {
    margin-left: -1px;
  }

  .rbc-rtl & button + button {
    margin-left: 0;
    margin-right: -1px;
  }

  & + &,
  & + button {
    margin-left: 10px;
  }
}
